<!--<ul class="nav nav-pills nav-stacked">-->
<!--  <li role="presentation" class="active">-->
<!--    <%= link_to 'inbox', conversations_path(:id => current_user.id) %>-->
<!--  </li>-->
<!--  <li role="presentation">-->
<!--    <%= link_to 'sent', '#' %>-->
<!--  </li>-->
<!--  <li role="presentation"><a href="#">trashed</a></li>-->
<!--</ul>-->