<%= render '/shared/user_tabs' %>

<h2>yo convos doe</h2>
<div class="container-fluid">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#">inbox</a></li>
      <li role="presentation"><a href="#">trashed</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <% if @conversations.any? %>
      <ul>
        <% @conversations.each do |convo| %>
            <li><%= link_to convo.subject, {controller: 'conversations', action: 'show', id: convo.id } %></li>
        <% end %>
      </ul>
    <% else %>
      <h3 class="center">ops. you have no convos.</h3>
    <% end %>
  </div>
</div>