<%= render '/shared/user_tabs' %>

<h2>yo convos doe</h2>
<div class="container-fluid">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#">inbox</a></li>
      <li role="presentation"><a href="#">trashed</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <% if @conversations.any? %>
      <% @conversations.each do |convo| %>
          <%= link_to convo.subject, convo %>
      <% end %>
    <% else %>
      <h3 class="center">ops. you have no convos.</h3>
    <% end %>
  </div>
</div>