<%= render '/shared/user_tabs' %>

<h2>yo convos doe</h2>
<div class="container-fluid">
  <div class="col-md-2">
    <%= render 'mailbox_tabs' %> 
  </div>
  <div class="col-md-10">
    <%= render 'mail_lists' %>
  </div>
</div>