<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>some text</h1>
    <p>This is a long stretch of text used as a description
        for something that is being used on this page. It should
        help the user with UX and flow navigation.</p>
  </div>
</div>
<div class="container">

<h1>Map</h1>
<p>use map</p>

</div>