<ul class="nav nav-tabs">
    <li role="presentation" <% if current_page?(user_path) %> class="active" <% end %>>
      <%= link_to 'Profile', current_user %>
    </li>
    <% if current_user %>
      <li role="presentation" <% if @conversations %> class="active" <% end %>>
        <%= link_to 'Messages', conversations_path %>
      </li>
      <li role="presentation" <% if current_page?(edit_user_path) %> class="active" <% end %>>
        <%= link_to 'Settings', edit_user_path %>
      </li>
    <% end %>
</ul>