<div class="bs-docs-header" id="content">
  <!--<div class="container">-->
    <!--<h1>some text</h1>-->
    <!--<p>This is a long stretch of text used as a description-->
        <!--for something that is being used on this page. It should-->
        <!--help the user with UX and flow navigation.</p>-->
  <!--</div>-->
</div>
<% if user_signed_in? %>
  <p class="notice">Welcome, <%= link_to current_user.name, current_user %>!</p>
<% end %>
<div class="center jumbotron">
  <h1>Welcome to Slog</h1>

  <h2>
    Where would you like to go?
  </h2>

  <!--<%= render 'form' %>-->
  <%= link_to "Search", slogs_path, class: "btn btn-primary" %>
</div>