<div class="center">
    <h1>Login</h1>
    <p>login below bruh bruh</p>

    <label for="username">usrname</label>
    <input id="username" type="text"/><br>
    <label for="pass">passwrd</label>
    <input id="pass" type="text" /><br>

    <button type="submit" class="btn btn-success">Login</button>
    <button type="button" class="btn btn-info">Sign Up</button>
    <!--<%= link_to 'Sign up', new_user_path, class: "btn btn-info" %>-->
</div>