<h1>Rangular!</h1> <small class="text-muted"> from home.html</small>
<div ng-controller="HomeController">
  <small ng-bind="lol"></small>
  <ul ng-repeat="t in test">
    <li ng-bind="t"></li>
  </ul>
</div>