<title>Slog</title>



<header id="c" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <!--<li data-target="#c" data-slide-to="0" class="active"></li>-->
    <!--<li data-target="#c" data-slide-to="1" class=""></li>-->
  </ol>
  
  <!-- actual carousel -->
  <div class="carousel-inner" role="listbox">
    <div id="slide1-bg" class="item fill active"> <!-- in modern business css -->
      <div class="container">
        <div class="carousel-caption">
          <h2>Share a Lift on the Go!</h2>
          <p><a class="btn btn-success" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
    <!--<div id="slide2-bg" class="item"> <!-- in modern business css -->-->
    <!--  <div class="container">-->
    <!--    <div class="carousel-caption">-->
    <!--      <h1>Want to travel?</h1>-->
    <!--      <p><a class="btn btn-success" href="#" role="button">Learn more</a></p>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
  </div>
  
  <!-- previous and next controls -->
  <!--<a class="left carousel-control" href="#c" role="button" data-slide="prev">-->
    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
  <!--  <span class="sr-only">Previous</span>-->
  <!--</a>-->
  <!--<a class="right carousel-control" href="#c" role="button" data-slide="next">-->
    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
  <!--  <span class="sr-only">Next</span>-->
  <!--</a>-->
</header>
<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              Explore Slog
          </h1>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4><i class="fa fa-fw fa-check"></i>Super duper Slog Development</h4>
              </div>
              <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                  <a href="#" class="btn btn-default">Learn More</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4><i class="fa fa-fw fa-gift"></i> Apis on da back end</h4>
              </div>
              <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                  <a href="#" class="btn btn-default">Learn More</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
              </div>
              <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                  <a href="#" class="btn btn-default">Learn More</a>
              </div>
          </div>
      </div>
  </div>
  <!-- Features Section -->
  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Slog features</h2>
      </div>
      <div class="col-md-6">
          <p>This Slog Dev landing page includes:</p>
          <ul>
              <li><strong>Slog Development</strong>
              </li>
              <li>blahhblaahh</li>
              <li>blehh blehh</li>
              <li>Slog filler text that I dont know</li>
              <li>Do this sometime to fill</li>
              <li>much coolness</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
      </div>
      <div class="col-md-6">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
      </div>
  </div>
</div>